body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;color: #444444;
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
}

.outercont {
	position: relative;
}
.outer-cont {
	position: relative;
	width: 100%;
	top: 20px;
	margin-bottom: 30px;/* -moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg); */
}
.inner-cont {
	position: absolute;
	width: 100%;
	top: 90px;/* -moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg); */
}
#outer, #outer1 {
	width : 310px;
	height: 310px;
	margin: 0 auto;
}
#inner, #inner1 {
	width : 112px;
	max-width: 112px;
	height: 142px;
	margin: 0 auto;
	cursor: pointer;
}
#outer img,
#outer1 img,
#inner img,
#inner1 img {
	display: block;
	margin: 0 auto;
}
.input-box {
	text-align: center;
}
.input-box label {
	color: #333;
	font-weight: bold;
}
.input-box input {
	padding-left: 5px;
	width: 220px;
}