* {
	margin: 0;
	padding: 0;
}
.container {
	margin: 100px;
}
.luck-box {
	display: flex;
	width: 400px;
}
.luck-item {
	flex: 1;
	margin-right: 20px;
}
.luck-item > button {
	width: 100%;
	height: 50px;
}
.luck-wrap {
	width: 100%;
	height: 300px;
	border: 1px solid #ddd;
	overflow: hidden;
}
.luck-list {
	list-style: none;
	animation-name: rowup;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards; 
}
.luck-list.first {
	/*animation-name: rowup;*/
	animation-play-state: paused;
	animation-duration: 2.4s;
}
.luck-list.second {
	/*animation-name: rowup;*/
	animation-play-state: paused;
	animation-duration: 1.8s;
}
.luck-list.third {
	/*animation-name: rowup;*/
	animation-play-state: paused;
	animation-duration: 1.2s;
}
.luck-list > li {
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 20px;
	line-height: 100px;
	color: #fff;
	background-color: #FD8900;
}
.luck-bottom {
	width: 400px;
	line-height: 50px;
	margin-top: 30px;
	text-align: center;
}
.luck-bottom > button {
	width: 100px;
	height: 50px;
}